//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE      0
#define NUM       1
#define MEDIA     2
#define FUNCTION  3
#define GAME      4

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;			// <---[[produces tap if held longer than tapping-term-ms]]
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lc: layer_change {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&to>, <&kp>;
        };

        sc: sticky_layer_change {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&sl>, <&kp>;
        };

        dl: dualayer_change {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&to>, <&sl>;
        };

        ts: temp_sticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&mo>, <&to>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            layers = <0 1 4 3>;
            bindings = <&kp ESC>;
        };

        combo_boot {
            timeout-ms = <50>;
            key-positions = <20 31>;
            layers = <1 4 3>;
            bindings = <&bootloader>;
        };

        combo_undo {
            timeout-ms = <50>;
            key-positions = <34 35>;
            layers = <0 1 4 3>;
            bindings = <&kp LC(Z)>;
        };

        combo_backspace1 {
            key-positions = <5 6>;
            timeout-ms = <50>;
            layers = <0 1 4 3>;
            bindings = <&kp BACKSPACE>;
        };

        to_game_layer {
            bindings = <&to 0>;
            key-positions = <4 5>;
            layers = <0 1 4 3>;
            timeout-ms = <50>;
        };

        region_screen {
            bindings = <&capture_region>;
            key-positions = <20 25>;
            layers = <0 1 4 3>;
            timeout-ms = <50>;
        };

        combo_backspace2 {
            bindings = <&kp BACKSPACE>;
            key-positions = <3 4>;
            timeout-ms = <50>;
            layers = <0 1 4 3>;
        };

        combo_del1 {
            bindings = <&kp DEL>;
            key-positions = <24 25>;
            timeout-ms = <50>;
            layers = <0 1 4 3>;
        };

        combo_del2 {
            bindings = <&kp DEL>;
            key-positions = <26 27>;
            timeout-ms = <50>;
            layers = <0 1 4 3>;
        };

        /* 			combo_copy {
                timeout-ms = <50>;
                key-positions = <5 31 24>;
                bindings = <&bootloader>;
            };
			combo_paste {
                timeout-ms = <50>;
                key-positions = <5 31 12>;
                bindings = <&bootloader>;
            }; */
    };

    macros {
        capture_region: capture_region {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp PRINTSCREEN>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "CAPTURE_REGION";
        };

        region_capture2: region_capture2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RCTRL>,
                <&macro_tap>,
                <&kp K_APP>,
                <&macro_release>,
                <&kp RCTRL>;

            label = "REGION_CAPTURE2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                     ┌─────────┬─────────┬─────────┬─────────┬─────────┐
            //             │    Q    │    W    │    F    │    P    │    B    │                     │    J    │    L    │    U    │    Y    │    ;    │   
            //             ├─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┤
            //             │    A    │    R    │    S    │    T    │    G    │                     │    M    │    N    │    E    │    I    │    O    │
            //   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
            //   │   TAB   │    Z    │    X    │    C    │    D    │    V    │                     │    K    │    H    │    ,    │    .    │    /    │    '    │
            //   └─────────┴─────────┴─────────┴─────────┼─────────┼─────────┼──────────┬┬─────────┼─────────┼─────────┼─────────┴─────────┴─────────┴─────────┘
            //                                           │   COPY  │  PASTE  │  SPACE   ││  ENTER  │  BSPCE  │  DITTO  │  
            //                                           └─────────┴─────────┴──────────┘└─────────┴─────────┴─────────┘

            bindings = <
           &kp Q           &kp W           &kp E         &kp R             &kp T        &kp Y      &kp U              &kp I          &kp O            &kp P
           &hm LEFT_GUI A  &hm LEFT_ALT S  &hm LCTRL D   &hm LEFT_SHIFT F  &kp G        &kp H      &hm RIGHT_SHIFT J  &hm RCTRL K    &hm RIGHT_ALT L  &hm RIGHT_GUI SEMI
&lt 3 TAB  &kp Z           &kp X           &kp C         &kp V             &kp B        &kp N      &kp M              &kp COMMA      &kp DOT          &kp FSLH            &lc 4 SQT
                                           &lt 5 ESCAPE  &lt 4 SPACE       &lt 6 TAB    &lt 2 RET  &lt 1 BACKSPACE    &kp LC(GRAVE)
            >;
        };

        num_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NUM";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                     ┌─────────┬─────────┬─────────┬─────────┬─────────┐
            //             │    -    │    7    │    8    │    9    │    /    │                     │    /    │    7    │    8    │    9    │    -    │
            //             ├─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┤
            //             │    +    │    4    │    5    │    6    │    *    │                     │    *    │    4    │    5    │    6    │    +    │
            //   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
            //   │  PRINT  │    .    │    1    │    2    │    3    │ ------- │                     │ ------- │    1    │    2    │    3    │    .    │         │
            //   └─────────┴─────────┴─────────┴─────────┼─────────┼─────────┼──────────┬┬─────────┼─────────┼─────────┼─────────┴─────────┴─────────┴─────────┘
            //                                           │    0    │  ENTER  │  SPACE   ││  SPACE  │  ENTER  │    0    │ 
            //                                           └─────────┴─────────┴──────────┘└─────────┴─────────┴─────────┘

            bindings = <
           &kp LEFT_BRACKET  &kp KP_N7  &kp KP_N8   &kp KP_N9  &kp RIGHT_BRACKET    &trans     &trans  &trans     &trans  &trans
           &kp SEMICOLON     &kp KP_N4  &kp KP_N5   &kp KP_N6  &kp EQUAL            &trans     &trans  &trans     &trans  &trans
&kp PSCRN  &kp APOS          &kp KP_N1  &kp KP_N2   &kp KP_N3  &kp BACKSLASH        &trans     &trans  &trans     &trans  &trans  &trans
                                        &kp PERIOD  &kp N0     &kp MINUS            &kp SPACE  &trans  &kp KP_N0
            >;
        };

        symbol_layer {
            bindings = <
        &kp LEFT_BRACE  &kp AMPERSAND  &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &trans  &trans  &trans  &trans  &trans
        &kp COLON       &kp DOLLAR     &kp PERCENT           &kp CARET              &kp PLUS           &trans  &trans  &trans  &trans  &trans
&trans  &kp TILDE       &kp EXCL       &kp AT                &kp POUND              &kp PIPE           &trans  &trans  &trans  &trans  &trans  &trans
                                       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDER          &trans  &trans  &trans
            >;
        };

        function_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "FUNCTION";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                     ┌─────────┬─────────┬─────────┬─────────┬─────────┐
            //             │  RESET  │  BT CLR │ OUT TOG │         │ BTSEL 0 │                     │   INS   │    F7   │    F8   │    F9   │   F12   │
            //             ├─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┤
            //             │  BOOTLD │ BT NEXT │         │         │ BTSEL 1 │                     │  SCRL   │    F4   │    F5   │    F6   │   F11   │
            //   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
            //   │         │         │ BT PREV │         │         │ BTSEL 2 │                     │  PAUSE  │    F1   │    F2   │    F3   │   F10   │         │
            //   └─────────┴─────────┴─────────┴─────────┼─────────┼─────────┼──────────┬┬─────────┼─────────┼─────────┼─────────┴─────────┴─────────┴─────────┘
            //                                           │         │         │  SPACE   ││         │         │         │ 
            //                                           └─────────┴─────────┴──────────┘└─────────┴─────────┴─────────┘

            bindings = <
        &kp F12  &kp F7  &kp F8             &kp F9     &kp PRINTSCREEN    &trans  &trans  &trans  &trans  &trans
        &kp F11  &kp F4  &kp F5             &kp F6     &kp SCROLLLOCK     &trans  &trans  &trans  &trans  &trans
&trans  &kp F10  &kp F1  &kp F2             &kp F3     &kp PAUSE_BREAK    &trans  &trans  &trans  &trans  &trans  &trans
                         &kp K_APPLICATION  &kp SPACE  &kp TAB            &trans  &trans  &trans
            >;
        };

        navigation_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "MEDIA";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
            //             │    !    │    @    │    #    │    $    │    %    │                    │    ^    │    &    │    *    │    -    │    +    │   
            //             ├─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┤
            //             │    (    │    ←    │    ↑    │    →    │    )    │                    │  PGUP   │    <    │  PLAY   │    >    │   HOME  │
            //   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
            //   │         │    [    │    `    │    ↓    │    _    │    ]    │                    │  PGDWN  │   VOL+  │  MUTE   │   VOL-  │   END   │  TO_0   │
            //   └─────────┴─────────┴─────────┴─────────┼─────────┼─────────┼─────────┬┬─────────┼─────────┼─────────┼─────────┴─────────┴─────────┴─────────┘
            //                                           │   ALT   │  CTRL   │  SHIFT  ││         │         │         │  
            //                                           └─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┘

            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp K_REDO  &kp K_PASTE    &kp K_COPY     &kp K_CUT     &kp K_UNDO
        &trans  &trans  &trans  &trans  &trans    &kp CAPS    &kp LEFT       &kp DOWN       &kp UP_ARROW  &kp RIGHT
&trans  &trans  &trans  &trans  &trans  &trans    &kp INSERT  &kp HOME       &kp PAGE_DOWN  &kp PAGE_UP   &kp END     &to 0
                        &trans  &trans  &trans    &kp RET     &kp BACKSPACE  &trans
            >;
        };

        media_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans      &trans            &trans             &trans           &trans
        &trans  &trans  &trans  &trans  &trans    &trans      &kp C_REWIND      &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp C_FAST_FORWARD
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans            &trans             &trans           &trans              &trans
                        &trans  &trans  &trans    &kp K_STOP  &kp K_PLAY_PAUSE  &trans
            >;
        };

        eesti_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄		
    };
};
